@tailwind base;
@tailwind components;
@tailwind utilities;

.navlink{
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../fonts/ClashDisplay/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/ClashDisplay/ClashDisplay-Medium.woff') format('woff'),
        url('../fonts/ClashDisplay/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('../fonts/generalSans/GeneralSans-Light.woff2') format('woff2'),
        url('../fonts/generalSans/GeneralSans-Light.woff') format('woff'),
        url('../fonts/generalSans/GeneralSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

*::selection{
    background-color: #f81ce5;
    color: white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #eeeeee #140f1b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #140f1b;
}

*::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    border-radius: 0px;
    border: 9px solid #ffffff;
}
/* ///////////////////////// */
.hoverEffect {
    --c: #6239d7;
    --s: 0.15em;

    line-height: 1.1em;
    padding-bottom: calc(2.1 * var(--s));
    background: conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s) / calc(2 * var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0 / calc(2 * var(--s)) var(--s) repeat-x;
    mask: linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0 / var(--_p, 0%) padding-box no-repeat;
    -webkit-mask: linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0 / var(--_p, 0%) padding-box no-repeat;
    transition: 0.8s;
}

.hoverEffect.start {
    --_p: 100%;
    color: var(--c);
}

/* /////////////////////// */


.rgb:hover {
    animation: rgb 3s linear infinite alternate-reverse;
}

@keyframes rgb {
    0% {
        box-shadow: 0 0 16px rgba(120, 200, 208, 1);
    }

    14% {
        box-shadow: 0 0 18px rgba(43, 224, 99, 1);
    }

    28% {
        box-shadow: 0 0 20px rgba(237, 45, 45, 1);
    }

    42% {
        box-shadow: 0 0 18px #f1f424;
    }

    57% {
        box-shadow: 0 0 16px rgba(224, 117, 43, 1);
    }

    70% {
        box-shadow: 0 0 18px rgba(224, 43, 76, 1);
    }

    85% {
        box-shadow: 0 0 20px rgba(224, 43, 213, 1);
    }

    100% {
        box-shadow: 0 0 20px rgb(224, 43, 76);
    }
}