@tailwind base;
@tailwind components;
@tailwind utilities;

.navlink{
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Medium.woff') format('woff'),
        url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}